body{
  background: rgb(204,204,204);
}

toolbar{
  top:0;
  position: sticky;
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(20px,40px));
  background-color: rgb(231, 231, 231);
  color: rgb(0, 0, 0);
  grid-gap: 1rem;
  padding: 1rem;
  justify-content: center;
  align-items:center;
  z-index: 100;
}

.tool-item{
  padding-top: .6rem;
  padding-bottom:.6rem;
  cursor: pointer;
  color: #000;
  border: none;
}
.tool-item:hover{
  box-shadow: none;
  background-color: #6b5e5e;

}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.btn{
  padding: .5rem;
  background-color: #7e1111;
  margin-right: 1rem;
  color: #fffffc;
  letter-spacing: .1rem;
  font-size: 1rem;
  border-radius: .2rem;
  cursor: pointer;
  outline: none;
  box-shadow: 0 .4rem .4rem black;
  transition: all .3s;
}

.btn:hover{
  background-color: #7e1111d0;
  box-shadow: 0 .1rem .1rem black;
}

page[size="A4"]{
  background: white;
  width: 210mm;
  height: 297mm;
  display: block;
  margin: 0 auto;
  margin-bottom: 1px;
  box-shadow: 0 0.5cm 0.5cm rgba(0,0,0,0.5);
}

page[size="A4"]:first-of-type {
  margin-top: 5px;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

page[size="A4"]:last-of-type {
  margin-top: 1px;
  box-shadow: 0 0.5cm 0.5cm rgba(0,0,0,0.5);
}

faltmarke[position="top"]{
  position: absolute;
  border-bottom: 1px solid black;
  width: 3mm;
  margin-top: 87mm;
  z-index: 0;
}
lochmarke{
  position: absolute;
  border-bottom: 1px solid black;
  width: 5mm;
  margin-top: 148.5mm;
  z-index: 0;
}
faltmarke[position="bottom"]{
  position: absolute;
  border-bottom: 1px solid black;
  width: 3mm;
  margin-top: 192mm;
  z-index: 0;
}
brief-kopf{
  position: absolute;
  width: 125mm;
  height: 27mm;
}
brief-fenster{
  position: absolute; 
  width: 85mm; /* actually 85 , but -5 for padding*/
  height: 45mm; /* actually 40 , but -5 for padding*/
  display: block;
  margin: 27mm auto auto 20mm;
  box-shadow: 0 0 0.1cm rgba(0,0,0,0.1);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.01)
}
brief-fenster:hover{
    box-shadow: 0 0 0.1cm rgba(0,0,0,0.5);
}

rueksender{
  position: absolute;
  width: 80mm;
  height: 5mm;
  margin-top: 1mm;
  margin-left: 5mm;
  font: 9px Arial, sans-serif;
  text-decoration: underline;
}
zusatz-vermerk{
  position: absolute;
  width: 80mm;
  min-height: 12.7mm;
  max-height: 12.7mm;
  margin-top: 5mm;
  margin-left: 5mm;

  /* box-shadow: 0 0 0.1cm rgba(0,0,0,0.1); */
}
empfaenger-anschrift{
  position: absolute;
  width: 80mm;
  height: 27.3mm;
  margin-top: 17.5mm;
  margin-left: 5mm;

}
empfaenger-anschrift name, strasse, plz-ort, land::before{
display: block;
}

brief-info{
  position: absolute;
  width: 75mm;
  min-height: 53mm;
  max-height: 53mm;
  margin-top: 32mm;
  margin-left: 125mm;
}
brief-info:hover{
    box-shadow: 0 0 0.1cm rgba(0,0,0,0.1);
}
zusatz-info {
  position: absolute;
  width: 70mm;
  min-height: 15mm;
  max-height: 15mm;
}
sender-info{
  position: absolute;
  height: 30;
  margin-top: 25mm;
}

datum{ 
  position: absolute;
  bottom:0 ;
  width: 75mm;
}


sender-info name, tel, fax, email{
  font: 12px Arial, sans-serif;
  display: block;
}
sender-info name::before, tel::before, fax::before, email::before{
  content: attr(data-text);
}

address{
  font: 12px Arial, sans-serif;
  display: block;
}

brief-text{
  position: absolute;
  width: 165mm;
  min-height: 150mm;
  margin-left: 25mm;
  margin-right: 20mm;
  margin-top: 95.46mm;
}
/*brief-text:hover{
  box-shadow: 0 0 0.1cm rgba(0,0,0,0.5);
}*/

brief-betreff{
  position: relative;
  min-height: 10mm;
  width: 165mm;
  font: 14px Arial, sans-serif;
  font-weight: bold;
  display: block;
}
brief-betreff:hover{
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
brief-betreff:before{
    content: attr(data-text);
}

brief-inhalt{
  width: 165mm;
  min-height: 20mm;
  position: relative;
  display: block;
}
brief-inhalt:hover{
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
brief-anrede{
  width: 165mm;
  margin-bottom: 5mm;
  display: block;
}
brief-gruess{
  position: relative;
  width: 165mm;
  margin-top: 10mm;
  min-height: 10px;
  display: block;
}

brief-anlage{
  position: relative;
  margin-top: 10mm;
  width: 165mm;
  display: block;
}
brief-anlage:before{
  content: attr(data-text);
  font-weight: bold;
}

brief-fuss{
  position: absolute;
  width: 165mm;
  height: 20mm;
  margin-top: 272mm;
  margin-left: 20mm;
  color: grey;
  z-index: 10;
}

brief-fuss:hover{
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

trennmark{
  position: absolute;
  border-bottom: 1px solid gray;
  width: 100%;
  top:0;
  text-align: start;
}

brief-inhalt2{
  width: 165mm;
  height: 245mm;
  margin-top: 27mm;
  margin-left: 25mm;
  position: absolute;
  display: inline-flex;
}
brief-inhalt2:hover{
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

contorl-button{
  bottom: 6rem;
  position: sticky;
  display:grid;
  grid-template-rows: repeat(auto-fit,minmax(20px,40px));
  color: rgb(0, 0, 0);
  grid-gap: 1rem;
  padding: 1rem;
  justify-content: right;
  align-items:center;
}

.button {
  background-color: #008CBA;; /* Blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button:hover{
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

.button-round{
  height: 50px;
  width: 50px;  
  font-size: 2em;
  font-weight: bold;
  border-radius: 50%;
  border:none;
  text-decoration: none;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  cursor: pointer;
  padding-top: .6rem;
  padding-bottom:.6rem;
}

.button-round:hover{
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

center-text{
  text-align: center;
  display: block
}

@media print {
  body, page[size="A4"] {
    margin: 0;
    box-shadow: 0;
  }
  page[size="A4"]:first-of-type {
      margin-top: 0;
      box-shadow: none;
  }
    
  page[size="A4"]:last-of-type {
      margin:0;
      box-shadow: none;
   }

  brief-fenster{
    box-shadow: none;
    background-color: none;
  }
  contorl-button{
    display: none;
  }
  toolbar{
    display: none;
  }
}